@import './mixins.scss';

.circle{
  position: relative;
  min-width: 700px;
  min-height: 700px;
  border-radius: 50%;
  background-color: $circle-color;

  @include mq(767px){
    background-color: transparent;
    min-width: 0px !important;
    min-height: 0px !important;
    padding-top: 100px;
  }
}

.circle-row{
  padding-top: 80px;
}

.pokeball{
  position: relative;
  background-image: url('../images/pokeball.png');
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 0 auto;
  animation: orbit 40s linear infinite 700ms;
  top: 335px;
}

@keyframes orbit{
  from { transform: rotate(0deg) translateY(-370px); }
  to { transform: rotate(360deg) translateY(-370px); }
}

.ct-appear, .tbt-appear, .abt-appear{
  position: relative;
  left: -50px;
  opacity: 0;
}

.ct-appear-active{
  left: 0px;
  opacity: 1;
  transition: left 700ms ease-out, opacity 700ms ease-out;
}

.pbt-appear{
  opacity: 0;
}

.pbt-appear-active{
  opacity: 1;
  transition: opacity 500ms ease-out 700ms;
}

.tbt-appear-active{
  opacity: 1;
  left: 0px;
  transition: left 700ms ease-out 200ms, opacity 700ms ease 200ms;
}

.abt-appear-active{
  opacity: 1;
  left: 0px;
  transition: left 700ms ease-out 300ms, opacity 700ms ease 300ms;
}
